* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
}

a {
  text-decoration: none;
}

.logoLPF {
  width: 99px;
  height: auto;
}

.ligaLetras {
  width: 109px;
  height: 100px;
}

.logoLetra {
  display: flex;
  position: absolute;
  z-index: 10;
  margin-top: 9px;
  margin-left: 30px;
  align-items: center;
  gap: 5px;
}

.escudos {
  background-image: url(./assets/escudos.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 33px;
}

.nav {
  width: 100%;
  height: 90px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: "Josefin Sans";
  background-color: #365486;
  list-style: none;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: x-large;
  margin-left: 20%;
  list-style: none;
}

.letrasNav .marcadoNav {
  -webkit-text-stroke: 0.0625rem rgba(219, 169, 20, 0.8156862745);
  color: #F5D880;
}

.letrasNav a {
  color: white;
}

.footer {
  margin-top: 50px;
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 350%;
  display: flex;
  width: 100%;
  height: 177px;
  align-items: center;
  justify-content: space-evenly;
}

.logoIg {
  width: 42;
  height: 45px;
}

.logoFooter {
  width: 165px;
  height: 88px;
}

.logoTwitter {
  width: 47px;
  height: 47px;
}

.tablasInicio {
  display: flex;
  flex-direction: column;
}

.tablasInicio img {
  width: 338px;
  height: 352px;
  border: 0.125rem solid gray;
  margin-top: 85px;
}

.flexInicio {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sectionInicio {
  margin-top: 30px;
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
  width: 950px;
  height: 905px;
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 2fr 1fr;
}

.noticiaPrincipal {
  color: white;
  margin-top: 30px;
  margin-left: 38px;
}

.noticiaPrincipal img {
  height: auto;
  width: 485px;
}

.noticiaPrincipal h1 {
  font-size: 30px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 20px;
  margin-left: 15px;
}

.noticiaPrincipal p {
  font-size: 23px;
  line-height: 1.2;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 20px;
  margin-left: 9px;
}

.noticiaSecundaria {
  color: white;
  margin-top: 30px;
  margin-right: 38px;
}

.noticiaSecundaria img {
  height: auto;
  width: 350px;
}

.noticiaSecundaria h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-left: 75px;
  margin-top: 5px;
}

.noticiaSecundaria p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 5px;
  margin-left: 4px;
}

.noticiaSecundaria2 {
  color: white;
  margin-top: 10px;
}

.noticiaSecundaria2 h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-left: 75px;
  margin-top: 5px;
}

.noticiaSecundaria2 p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 5px;
  margin-left: 4px;
}

.logoInicio img {
  width: 15.4375rem;
  height: auto;
  margin-top: 250px;
  margin-left: 155px;
}

.barraDePartidos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.barraDePartidos img {
  width: 1099px;
  height: 221px;
}

.tituloTabla {
  background-image: url(../assets/over.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  margin-top: 40px;
}

.tituloTabla h2 {
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.tablasTabla {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.tablasTabla img {
  width: 654px;
  height: 577px;
  border: 0.125rem solid gray;
}

.tablaAnual {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tablaAnual img {
  width: 1321px;
  border: 0.125rem solid gray;
  height: 1104px;
}

.mainNoticias {
  display: flex;
  flex-direction: column;
}

.sectionNoticias {
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
  width: 1331px;
  height: 1625px;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 30px;
}

.sectionNoticias h2 {
  font-size: 50px;
  margin-top: 35px;
  margin-left: 30px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.divNoticias {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.divNoticias p {
  width: 510px;
  font-size: 30px;
  line-height: 35px;
  margin-top: 40px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.divNoticias img {
  width: 750px;
  height: 597px;
}

.divPNoticias {
  display: flex;
  justify-content: center;
}

.divPNoticias p {
  width: 1270px;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 20px;
}

.imagenesNoticias {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.imagenesNoticias img {
  width: 600px;
  height: auto;
}

.noticiasP {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.noticiasP p {
  width: 1260px;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.sectionNoticias2 {
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1331px;
  height: 340px;
  border-radius: 18px;
  align-self: center;
  margin-top: 30px;
}

.sectionNoticias2 div {
  width: 380px;
}

.sectionNoticias2 img {
  width: 390px;
  height: 219px;
  align-self: center;
}

.sectionNoticias2 h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
}

.sectionNoticias2 p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  font-size: 16px;
  align-self: center;
  margin-top: 10px;
}

.sectionNoticias2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divEstadisticas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  flex-wrap: wrap;
}

.divEstadisticas img {
  width: 420px;
  height: 549px;
  border-radius: 18px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.425);
}

.divCalendario {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  align-items: center;
}

.divCalendario img {
  width: 1180px;
}

@media (max-width: 768px) {
  /* BARRA DE NAVEGACION */
  .escudos {
    height: 20px;
  }
  .nav {
    width: 100%;
    height: 60px;
  }
  .nav ul {
    font-size: 16px;
    gap: 35px;
    margin-left: 220px;
  }
  .logoLetra {
    margin-top: 10px;
    margin-left: 40px;
  }
  .logoLPF {
    width: 60px;
    height: auto;
  }
  .ligaLetras {
    width: 70px;
    height: auto;
  }
  /* ESTADISTICAS */
  .divEstadisticas {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: 35px;
  }
  .divEstadisticas img {
    width: 550px;
    height: auto;
  }
  /* FOOTER */
  .footer {
    width: 100%;
    height: 100px;
    margin-top: 40px;
  }
  .logoFooter {
    width: 100px;
    height: auto;
  }
  .logoIg {
    width: 30px;
    height: auto;
  }
  .logoTwitter {
    width: 30px;
    height: auto;
  }
  /* CALENDARIO */
  .divCalendario {
    width: 100%;
    margin-top: 30px;
    gap: 30px;
  }
  .divCalendario img {
    width: 100%;
    height: auto;
  }
  /* TABLA */
  .tituloTabla {
    width: 100%;
    height: 95px;
    margin-top: 25px;
  }
  .tituloTabla h2 {
    font-size: 30px;
  }
  .tablasTabla {
    margin-top: 30px;
  }
  .tablasTabla img {
    width: 370px;
    height: auto;
  }
  .tablaAnual {
    margin-top: 30px;
  }
  .tablaAnual img {
    width: 749px;
    height: auto;
  }
}
@media (max-width: 320px) {
  /* BARRA DE NAVEGACION */
  .escudos {
    height: 10px;
  }
  .nav {
    width: 100%;
    height: 45px;
  }
  .nav ul {
    font-size: 10px;
    gap: 8px;
    margin-left: 53px;
  }
  .logoLetra {
    margin-top: 3px;
    margin-left: 10px;
  }
  .logoLPF {
    width: 45px;
    height: auto;
  }
  .ligaLetras {
    width: 0px;
    height: auto;
  }
  /* FOOTER */
  .footer {
    width: 100%;
    height: 80px;
    margin-top: 30px;
  }
  .logoFooter {
    width: 75px;
    height: auto;
  }
  .logoIg {
    width: 20px;
    height: auto;
  }
  .logoTwitter {
    width: 20px;
    height: auto;
  }
  /* ESTADISTICAS */
  .divEstadisticas {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .divEstadisticas img {
    width: 270px;
    height: auto;
  }
  /* CALENDARIO */
  .divCalendario {
    width: 100%;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 40px;
  }
  .divCalendario img {
    width: 100%;
    height: auto;
  }
  /* TABLA */
  .tituloTabla {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
  .tituloTabla h2 {
    font-size: 20px;
  }
  .tablasTabla {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .tablasTabla img {
    width: 300px;
    height: auto;
    align-self: center;
  }
  .tablaAnual {
    margin-top: 20px;
  }
  .tablaAnual img {
    width: 310px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
