* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
}

a {
  text-decoration: none;
}

.logoLPF {
  width: 89px;
  height: auto;
}

.ligaLetras {
  width: 99px;
  height: auto;
}

.logoLetra {
  display: flex;
  position: absolute;
  z-index: 10;
  margin-top: 9px;
  margin-left: 30px;
  align-items: center;
  gap: 5px;
}

.escudos {
  background-image: url(../assets/escudos.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 30px;
}

.nav {
  width: 100%;
  height: 82px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: "Josefin Sans";
  background-image: url(../assets/nav.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  list-style: none;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 22px;
  margin-left: 20%;
  list-style: none;
}

.letrasNav .marcadoNav {
  -webkit-text-stroke: 0.0625rem rgba(219, 169, 20, 0.8156862745);
  color: #F5D880;
}

.letrasNav a {
  color: white;
}

.footer {
  margin-top: 50px;
  background-image: url(../assets/footer.jpg);
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  width: 100%;
  height: 177px;
  align-items: center;
  justify-content: space-evenly;
}

.logoIg {
  width: 42;
  height: 45px;
}

.logoFooter {
  width: 165px;
  height: 88px;
  filter: drop-shadow(1px 1px 40px #5083a6);
}

.logoTwitter {
  width: 47px;
  height: 47px;
}

.tablasInicio {
  display: flex;
  flex-direction: column;
}

.tablasInicio img {
  width: 338px;
  height: 352px;
  border: 1px solid gray;
  margin-top: 85px;
}

.flexInicio {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sectionInicio {
  margin-top: 30px;
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
  width: 950px;
  height: 950px;
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 2fr 1fr;
}

.noticiaPrincipal {
  color: white;
  margin-top: 30px;
  margin-left: 38px;
}

.noticiaPrincipal img {
  height: auto;
  width: 485px;
}

.noticiaPrincipal h1 {
  font-size: 30px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 20px;
  margin-right: 40px;
}

.tituloPrincipal {
  text-align: center;
}

.noticiaPrincipal p {
  font-size: 23px;
  line-height: 1.2;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-right: 28px;
  margin-top: 10px;
  margin-left: 9px;
}

.noticiaSecundaria {
  color: white;
  margin-top: 30px;
  margin-right: 38px;
}

.noticiaSecundaria img {
  height: auto;
  width: 350px;
}

.noticiaSecundaria h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 10px;
}

.tituloSecundario {
  text-align: center;
}

.noticiaSecundaria p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 5px;
  margin-left: 3px;
}

.noticiaSecundaria2 {
  color: white;
  margin-top: 10px;
}

.noticiaSecundaria2 h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 10px;
  margin-right: 40px;
}

.noticiaSecundaria2 p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 30px;
}

.logoInicio img {
  width: 15.4375rem;
  height: auto;
  margin-top: 305px;
  margin-left: 155px;
  filter: drop-shadow(1px 1px 30px #5083a6);
}

.barraDePartidos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.barraDePartidos img {
  width: 1099px;
  height: 221px;
}

.tituloTabla {
  background-image: url(../assets/over.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  margin-top: 40px;
}

.tituloTabla h2 {
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.tablasTabla {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.tablasTabla img {
  width: 654px;
  height: 577px;
  border: 1px solid gray;
}

.tablaAnual {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tablaAnual img {
  width: 1321px;
  border: 1px solid gray;
  height: 1104px;
}

.divsTabla {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divVerde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(4, 104, 4);
  margin-top: 30px;
  width: 800px;
  height: 60px;
}

.divVerde h3 {
  color: white;
  text-align: center;
}

.divVerdeClaro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(32, 148, 32);
  width: 800px;
  height: 60px;
}

.divVerdeClaro h3 {
  color: white;
  text-align: center;
}

.divAmarillo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(207, 223, 67);
  width: 800px;
  height: 60px;
}

.divAmarillo h3 {
  color: white;
  text-align: center;
}

.divRojo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(223, 67, 67);
  width: 800px;
  height: 60px;
}

.divRojo h3 {
  color: white;
  text-align: center;
}

.mainNoticias {
  display: flex;
  flex-direction: column;
}

.sectionNoticias {
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
  width: 1331px;
  height: 1625px;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 30px;
}

.sectionNoticias h2 {
  font-size: 50px;
  margin-top: 35px;
  margin-left: 30px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.divNoticias {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.divNoticias p {
  width: 510px;
  font-size: 30px;
  line-height: 35px;
  margin-top: 40px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.divNoticias img {
  width: 750px;
  height: 597px;
}

.divPNoticias {
  display: flex;
  justify-content: center;
}

.divPNoticias p {
  width: 1270px;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  margin-top: 20px;
}

.imagenesNoticias {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.imagenesNoticias img {
  width: 600px;
  height: auto;
}

.noticiasP {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.noticiasP p {
  width: 1260px;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
}

.sectionNoticias2 {
  background-image: url(../assets/over.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1331px;
  height: 340px;
  border-radius: 18px;
  align-self: center;
  margin-top: 30px;
}

.sectionNoticias2 div {
  width: 380px;
}

.sectionNoticias2 img {
  width: 390px;
  height: 219px;
  align-self: center;
}

.sectionNoticias2 h2 {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  font-size: 25px;
  align-self: center;
  margin-top: 10px;
}

.sectionNoticias2 p {
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.692);
  font-size: 16px;
  align-self: center;
  margin-top: 10px;
}

.sectionNoticias2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divEstadisticas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
}

.divEstadisticas img {
  width: 437px;
  height: auto;
  filter: drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.4235294118));
}

.estadisticasHatTrick {
  margin-right: 900px;
  margin-top: -40px;
}

.estadisticasHatTrick img {
  width: 900px;
  height: auto;
  position: absolute;
}

.espacioVacio {
  height: 350px;
}

.divCalendario {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  align-items: center;
}

.divCalendario img {
  width: 1180px;
}

@media (max-width: 768px) {
  /* BARRA DE NAVEGACION */
  .escudos {
    height: 20px;
  }
  .nav {
    width: 100%;
    height: 60px;
  }
  .nav ul {
    font-size: 16px;
    gap: 35px;
    margin-left: 220px;
  }
  .logoLetra {
    margin-top: 10px;
    margin-left: 40px;
  }
  .logoLPF {
    width: 60px;
    height: auto;
  }
  .ligaLetras {
    width: 70px;
    height: auto;
  }
  /* ESTADISTICAS */
  .divEstadisticas {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: 35px;
  }
  .divEstadisticas img {
    width: 550px;
    height: auto;
    margin-right: 130px;
  }
  .estadisticasHatTrick img {
    margin-left: 9px;
    margin-top: -40px;
    width: 750px;
    height: auto;
  }
  .espacioVacio {
    height: 310px;
  }
  /* FOOTER */
  .footer {
    width: 100%;
    height: 100px;
    margin-top: 40px;
  }
  .logoFooter {
    width: 100px;
    height: auto;
  }
  .logoIg {
    width: 30px;
    height: auto;
  }
  .logoTwitter {
    width: 30px;
    height: auto;
  }
  /* CALENDARIO */
  .divCalendario {
    width: 100%;
    margin-top: 30px;
    gap: 30px;
  }
  .divCalendario img {
    width: 100%;
    height: auto;
  }
  /* TABLA */
  .tituloTabla {
    width: 100%;
    height: 95px;
    margin-top: 25px;
  }
  .tituloTabla h2 {
    font-size: 30px;
  }
  .tablasTabla {
    margin-top: 30px;
  }
  .tablasTabla img {
    width: 370px;
    height: auto;
  }
  .tablaAnual {
    margin-top: 30px;
  }
  .tablaAnual img {
    width: 749px;
    height: auto;
  }
  /* NOTICIAS */
  .sectionNoticias {
    width: 750px;
    height: 960px;
  }
  .sectionNoticias h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  .divNoticias {
    gap: 10px;
    margin-left: 15px;
  }
  .divNoticias img {
    width: 350px;
    height: 295px;
  }
  .divNoticias p {
    font-size: 20px;
    margin-top: 0;
    line-height: 23px;
    width: 360px;
  }
  .divPNoticias p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 5px;
    width: 726px;
    margin-left: 15px;
  }
  .imagenesNoticias {
    margin-top: 5px;
  }
  .imagenesNoticias img {
    width: 350px;
    height: auto;
  }
  .noticiasP {
    margin-top: 10px;
  }
  .noticiasP p {
    font-size: 20px;
    line-height: 23px;
    width: 718px;
  }
  .sectionNoticias2 {
    width: 750px;
    height: 280px;
    gap: 5px;
  }
  .sectionNoticias2 div {
    width: 220px;
  }
  .sectionNoticias2 img {
    width: 230px;
    height: auto;
  }
  /* INDEX */
  .sectionInicio {
    width: 745px;
  }
  .noticiaPrincipal {
    margin-left: 23px;
    margin-top: 23px;
  }
  .noticiaPrincipal img {
    width: 380px;
    height: auto;
  }
  .noticiaPrincipal h1 {
    font-size: 20px;
    margin-right: 0;
    margin-top: 10px;
  }
  .noticiaPrincipal p {
    font-size: 17px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
  }
  .noticiaSecundaria {
    margin-left: 20px;
    margin-top: 23px;
  }
  .noticiaSecundaria img {
    width: 300px;
    height: auto;
  }
  .noticiaSecundaria h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  .noticiaSecundaria p {
    font-size: 17px;
    margin-top: 10px;
  }
  .noticiaSecundaria2 {
    margin-left: 20px;
    margin-top: -20px;
  }
  .noticiaSecundaria2 img {
    width: 300px;
    height: auto;
  }
  .noticiaSecundaria2 h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  .noticiaSecundaria2 p {
    font-size: 17px;
    margin-top: 10px;
  }
  .logoInicio img {
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
  }
  .tablasInicio {
    flex-direction: row;
    position: absolute;
    margin-left: 3px;
    margin-top: 935px;
    gap: 20px;
  }
  .barraDePartidos {
    margin-top: 430px;
  }
  .barraDePartidos img {
    width: 710px;
    height: auto;
  }
  .espacioIndex {
    height: 30px;
  }
}
@media (max-width: 320px) {
  /* BARRA DE NAVEGACION */
  .escudos {
    height: 9px;
  }
  .nav {
    width: 100%;
    height: 40px;
  }
  .nav ul {
    font-size: 11px;
    gap: 8px;
    margin-left: 40px;
  }
  .logoLetra {
    margin-top: 6px;
    margin-left: 7px;
  }
  .logoLPF {
    width: 35px;
    height: auto;
  }
  .ligaLetras {
    width: 0px;
    height: auto;
  }
  /* FOOTER */
  .footer {
    width: 100%;
    height: 80px;
    margin-top: 30px;
  }
  .logoFooter {
    width: 75px;
    height: auto;
  }
  .logoIg {
    width: 20px;
    height: auto;
  }
  .logoTwitter {
    width: 20px;
    height: auto;
  }
  /* ESTADISTICAS */
  .divEstadisticas {
    gap: 15px;
    margin-top: 15px;
  }
  .divEstadisticas img {
    width: 270px;
    height: auto;
    margin-left: -449px;
  }
  .estadisticasHatTrick img {
    margin-left: 5px;
    margin-top: 10px;
    width: 310px;
    height: auto;
  }
  .espacioVacio {
    height: 140px;
  }
  /* CALENDARIO */
  .divCalendario {
    width: 100%;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 40px;
  }
  .divCalendario img {
    width: 100%;
    height: auto;
  }
  /* TABLA */
  .tituloTabla {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
  .tituloTabla h2 {
    font-size: 20px;
  }
  .tablasTabla {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .tablasTabla img {
    width: 300px;
    height: auto;
    align-self: center;
  }
  .tablaAnual {
    margin-top: 20px;
  }
  .tablaAnual img {
    width: 310px;
    height: auto;
  }
  .divsTabla {
    width: 300px;
    margin-left: 10px;
  }
  .divsTabla h3 {
    font-size: 12px;
  }
  .divVerde {
    width: 300px;
  }
  .divVerdeClaro {
    width: 300px;
  }
  .divAmarillo {
    width: 300px;
  }
  .divRojo {
    width: 300px;
  }
  /* NOTICIAS */
  .sectionNoticias {
    width: 300px;
    height: 600px;
  }
  .sectionNoticias h2 {
    font-size: 15px;
    margin-top: 10px;
  }
  .divNoticias {
    gap: 5px;
    margin-left: 10px;
    margin-top: 8px;
  }
  .divNoticias img {
    width: 130px;
    height: 180px;
  }
  .divNoticias p {
    font-size: 10px;
    margin-top: 0;
    line-height: 13px;
    width: 150px;
  }
  .divPNoticias p {
    font-size: 10px;
    line-height: 13px;
    margin-top: 0px;
    width: 280px;
    margin-left: 0px;
  }
  .imagenesNoticias {
    margin-top: 5px;
  }
  .imagenesNoticias img {
    width: 140px;
    height: auto;
  }
  .noticiasP {
    margin-top: 5px;
  }
  .noticiasP p {
    font-size: 10px;
    line-height: 13px;
    width: 280px;
  }
  .sectionNoticias2 {
    width: 300px;
    height: 180px;
    gap: 1px;
    margin-top: 20px;
  }
  .sectionNoticias2 div {
    width: 270px;
  }
  .sectionNoticias2 img {
    width: 93px;
    height: auto;
  }
  .sectionNoticias2 h2 {
    font-size: 13px;
    margin-top: 5px;
    width: 93px;
  }
  .sectionNoticias2 p {
    font-size: 10px;
    margin-top: 5px;
    width: 93px;
  }
  /* INDEX */
  .sectionInicio {
    width: 300px;
    height: 600px;
  }
  .noticiaPrincipal {
    margin-left: 10px;
    margin-top: 10px;
  }
  .noticiaPrincipal img {
    width: 160px;
    height: auto;
  }
  .noticiaPrincipal h1 {
    font-size: 13px;
    margin-right: 0;
    margin-top: 3px;
  }
  .noticiaPrincipal p {
    font-size: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 3px;
  }
  .noticiaSecundaria {
    margin-left: 10px;
    margin-top: 10px;
    width: 115px;
  }
  .noticiaSecundaria img {
    width: 110px;
    height: auto;
  }
  .noticiaSecundaria h2 {
    font-size: 13px;
    margin-top: 3px;
  }
  .noticiaSecundaria p {
    font-size: 10px;
    margin-top: 3px;
  }
  .noticiaSecundaria2 {
    margin-left: 10px;
    margin-top: 0;
  }
  .noticiaSecundaria2 img {
    width: 110px;
    height: auto;
  }
  .noticiaSecundaria2 h2 {
    font-size: 13px;
    margin-top: 3px;
  }
  .noticiaSecundaria2 p {
    font-size: 10px;
    margin-top: 3px;
  }
  .logoInicio img {
    position: absolute;
    margin-left: 20px;
    margin-top: -60px;
    width: 150px;
    height: auto;
  }
  .tablasInicio {
    flex-direction: row;
    position: absolute;
    margin-left: 3px;
    margin-top: 935px;
    gap: 20px;
  }
  .barraDePartidos {
    margin-top: 430px;
  }
  .barraDePartidos img {
    width: 710px;
    height: auto;
  }
  .espacioIndex {
    height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
