.divEstadisticas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}
.divEstadisticas img {
    width: 420px;
    height: 549px;
    border-radius: 18px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.425);
}