.divEstadisticas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}
.divEstadisticas img {
    width: 437px;
    height: auto;
    filter: drop-shadow(3px 3px 3px #8080806c);
}
.estadisticasHatTrick {
    margin-right: 900px;
    margin-top: -40px;
}
.estadisticasHatTrick img {
    width: 900px;
    height: auto;
    position: absolute;
}
.espacioVacio {
    height: 350px;
}
