@media (max-width: 768px) {

    /* BARRA DE NAVEGACION */

    .escudos {
        height: 20px;
    }
    .nav {
        width: 100%;
        height: 60px;
    }
    .nav ul {
        font-size: 16px;
        gap: 35px;
        margin-left: 220px;
    }
    .logoLetra {
        margin-top: 10px;
        margin-left: 40px;
    }
    .logoLPF {
        width: 60px;
        height: auto;
    }
    .ligaLetras {
        width: 70px;
        height: auto;
    }

    /* ESTADISTICAS */

    .divEstadisticas {
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin-top: 35px;
    }
    .divEstadisticas img {
        width: 550px;
        height: auto;
        margin-right: 130px;
    }
    .estadisticasHatTrick img {
        margin-left: 9px;
        margin-top: -40px;
        width: 750px;
        height: auto;
    }
    .espacioVacio {
        height: 310px;
    }

    /* FOOTER */

    .footer {
        width: 100%;
        height: 100px;
        margin-top: 40px;
    }
    .logoFooter {
        width: 100px;
        height: auto;
    }
    .logoIg {
        width: 30px;
        height: auto;
    }
    .logoTwitter {
        width: 30px;
        height: auto;
    }

    /* CALENDARIO */

    .divCalendario{
        width: 100%;
        margin-top: 30px;
        gap: 30px;
    }
    .divCalendario img {
        width: 100%;
        height: auto;
    }

    /* TABLA */

    .tituloTabla {
        width: 100%;
        height: 95px;
        margin-top: 25px;
    }
    .tituloTabla h2 {
        font-size: 30px;
    }
    .tablasTabla {
        margin-top: 30px;
    }
    .tablasTabla img {
        width: 370px;
        height: auto;
    }
    .tablaAnual {
        margin-top: 30px;
    }
    .tablaAnual img {
        width: 749px;
        height: auto;
    }

    /* NOTICIAS */

.sectionNoticias {
    width: 750px;
    height: 960px;
}
.sectionNoticias h2 {
    font-size: 40px;
    margin-top: 20px;
}
.divNoticias {
    gap: 10px;
    margin-left: 15px;
}
.divNoticias img {
    width: 350px;
    height: 295px;
}
.divNoticias p {
    font-size: 20px;
    margin-top: 0;
    line-height: 23px;
    width: 360px;
}
.divPNoticias p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 5px;
    width: 726px;
    margin-left: 15px;
}
.imagenesNoticias {
    margin-top: 5px;
}
.imagenesNoticias img {
    width: 350px;
    height: auto;
}
.noticiasP {
    margin-top: 10px;
}
.noticiasP p {
    font-size: 20px;
    line-height: 23px;
    width: 718px;
}
.sectionNoticias2 {
    width: 750px;
    height: 280px;
    gap: 5px;
}
.sectionNoticias2 div {
    width: 220px;
}
.sectionNoticias2 img {
    width: 230px;
    height: auto;
}

    /* INDEX */

.sectionInicio {
    width: 745px;
}
.noticiaPrincipal {
    margin-left: 23px;
    margin-top: 23px;
}
.noticiaPrincipal img {
    width: 380px;
    height: auto;
}
.noticiaPrincipal h1 {
    font-size: 20px;
    margin-right: 0;
    margin-top: 10px;
}
.noticiaPrincipal p {
    font-size: 17px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
}
.noticiaSecundaria {
    margin-left: 20px;
    margin-top: 23px;
}
.noticiaSecundaria img {
    width: 300px;
    height: auto;
}
.noticiaSecundaria h2 {
    font-size: 20px;
    margin-top: 10px;
}
.noticiaSecundaria p {
    font-size: 17px;
    margin-top: 10px;
}
.noticiaSecundaria2 {
    margin-left: 20px;
    margin-top: -20px;
}
.noticiaSecundaria2 img {
    width: 300px;
    height: auto;
}
.noticiaSecundaria2 h2 {
    font-size: 20px;
    margin-top: 10px;
}
.noticiaSecundaria2 p {
    font-size: 17px;
    margin-top: 10px;
}
.logoInicio img {
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
}
.tablasInicio {
    flex-direction: row;
    position: absolute;
    margin-left: 3px;
    margin-top: 935px;
    gap: 20px;
}
.barraDePartidos {
    margin-top: 430px;
}
.barraDePartidos img {
    width: 710px;
    height: auto;
}
.espacioIndex {
    height: 30px;
}

}


@media (max-width: 320px) {

    /* BARRA DE NAVEGACION */
    
    .escudos {
        height: 9px;
    }
    .nav {
        width: 100%;
        height: 40px;
    }
    .nav ul {
        font-size: 11px;
        gap: 8px;
        margin-left: 40px;
    }
    .logoLetra {
        margin-top: 6px;
        margin-left: 7px;
    }
    .logoLPF {
        width: 35px;
        height: auto;
    }
    .ligaLetras {
        width: 0px;
        height: auto;
    }

        /* FOOTER */
    
        .footer {
            width: 100%;
            height: 80px;
            margin-top: 30px;
        }
        .logoFooter {
            width: 75px;
            height: auto;
        }
        .logoIg {
            width: 20px;
            height: auto;
        }
        .logoTwitter {
            width: 20px;
            height: auto;
        }

    /* ESTADISTICAS */

    .divEstadisticas {
        gap: 15px;
        margin-top: 15px;
    }
    .divEstadisticas img {
        width: 270px;
        height: auto;
        margin-left: -449px;
    }
    .estadisticasHatTrick img {
        margin-left: 5px;
        margin-top: 10px;
        width: 310px;
        height: auto;
    }
    .espacioVacio {
        height: 140px;
    }

    /* CALENDARIO */

    .divCalendario{
        width: 100%;
        margin-top: 30px;
        gap: 30px;
        margin-bottom: 40px;
    }
    .divCalendario img {
        width: 100%;
        height: auto;
    }

    /* TABLA */

    .tituloTabla {
        width: 100%;
        height: 60px;
        margin-top: 20px;
    }
    .tituloTabla h2 {
        font-size: 20px;
    }
    .tablasTabla {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .tablasTabla img {
        width: 300px;
        height: auto;
        align-self: center;
    }
    .tablaAnual {
        margin-top: 20px;
    }
    .tablaAnual img {
        width: 310px;
        height: auto;
    }
    .divsTabla {
        width: 300px;
        margin-left: 10px;
    }
    .divsTabla h3 {
        font-size: 12px;
    }
    .divVerde {
        width: 300px;
    }
    .divVerdeClaro {
        width: 300px;
    }
    .divAmarillo {
        width: 300px;
    }
    .divRojo {
        width: 300px;
    }

    /* NOTICIAS */

    .sectionNoticias {
        width: 300px;
        height: 600px;
    }
    .sectionNoticias h2 {
        font-size: 15px;
        margin-top: 10px;
    }
    .divNoticias {
        gap: 5px;
        margin-left: 10px;
        margin-top: 8px;
    }
    .divNoticias img {
        width: 130px;
        height: 180px;
    }
    .divNoticias p {
        font-size: 10px;
        margin-top: 0;
        line-height: 13px;
        width: 150px;
    }
    .divPNoticias p {
        font-size: 10px;
        line-height: 13px;
        margin-top: 0px;
        width: 280px;
        margin-left: 0px;
    }
    .imagenesNoticias {
        margin-top: 5px;
    }
    .imagenesNoticias img {
        width: 140px;
        height: auto;
    }
    .noticiasP {
        margin-top: 5px;
    }
    .noticiasP p {
        font-size: 10px;
        line-height: 13px;
        width: 280px;
    }
    .sectionNoticias2 {
        width: 300px;
        height: 180px;
        gap: 1px;
        margin-top: 20px;
    }
    .sectionNoticias2 div {
        width: 270px;
    }
    .sectionNoticias2 img {
        width: 93px;
        height: auto;
    }
    .sectionNoticias2 h2 {
        font-size: 13px;
        margin-top: 5px;
        width: 93px;
    }
    .sectionNoticias2 p {
        font-size: 10px;
        margin-top: 5px;
        width: 93px;
    }
    
        /* INDEX */
    
    .sectionInicio {
        width: 300px;
        height: 568px;
    }
    .noticiaPrincipal {
        margin-left: 10px;
        margin-top: 10px;
    }
    .noticiaPrincipal img {
        width: 160px;
        height: auto;
    }
    .noticiaPrincipal h1 {
        font-size: 13px;
        margin-right: 0;
        margin-top: 3px;
    }
    .noticiaPrincipal p {
        font-size: 10px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 3px;
    }
    .noticiaSecundaria {
        margin-left: 10px;
        margin-top: 10px;
        width: 115px;
    }
    .noticiaSecundaria img {
        width: 110px;
        height: auto;
    }
    .noticiaSecundaria h2 {
        font-size: 13px;
        margin-top: 3px;
    }
    .noticiaSecundaria p {
        font-size: 10px;
        margin-top: 3px;
    }
    .noticiaSecundaria2 {
        margin-left: 10px;
        margin-top: 0;
    }
    .noticiaSecundaria2 img {
        width: 110px;
        height: auto;
    }
    .noticiaSecundaria2 h2 {
        font-size: 13px;
        margin-top: 3px;
    }
    .noticiaSecundaria2 p {
        font-size: 10px;
        margin-top: 3px;
        width: 110px;
    }
    .logoInicio img {
        position: absolute;
        margin-left: 20px;
        margin-top: 110px;
        width: 150px;
        height: auto;
    }
    .tablasInicio {
        flex-direction: column;
        margin-top: 535px;
        margin-right: 215px;
        gap: 250px;
    }
    .tablasInicio img {
        position: absolute;
        width: 220px;
        height: auto;
    }
    .barraDePartidos {
        margin-top: 520px;
    }
    .barraDePartidos img {
        width: 300px;
        height: auto;
    }
    .espacioIndex {
        height: 0px;
    }
}